<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Stock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Stock.Properties.Settings.db_stockConnectionString"
            connectionString="Data Source=GYNIE\SQLEXPRESS;Initial Catalog=db_stock;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Stock.Properties.Settings.db_stockConnectionString1"
            connectionString="Data Source=SERVER1;Initial Catalog=db_stock;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Stock.Properties.Settings>
            <setting name="loc" serializeAs="String">
                <value />
            </setting>
            <setting name="user" serializeAs="String">
                <value />
            </setting>
        </Stock.Properties.Settings>
    </userSettings>
</configuration>